doctype html
html(lang='en')
  include head
  body
    .container
      .col-sm-12.text-center
        h1 Something went wrong...
        a.btn.btn-success(href= OriginURL) Try Again
        p If this continues to happen call Jonathan Hollinger at 859.258.3150.
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&sensor=true&libraries=places,drawing&language=en')
