doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='')
    title Utility Master Plan Submittal - Lexington, KY
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-datepicker3.min.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/custom.css')
    //if lt IE 9
      script(src='js/html5shiv.min.js')
      script(src='js/respond.min.js')
  body
    nav.navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Utility Master Plans
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/logout') Log Out
    .container
      .col-sm-12
        form#project-form.form(action='submit', method='post')
          h3 Project Information
          h5 Please fill out the form below for each project on your master plan for the coming year. All fields are required.
          .form-group
              label Utility
              if u_readonly === true
                input#utility.form-control(name='utility', value= utility, type='text', readonly, required)
              else
                input#utility.form-control(name='utility', value= utility, type='text', required)
          .row
            .form-group.col-sm-4
              label Project Contact
              input#contact.form-control(name='contact', value= user, type='text', required)
            .form-group.col-sm-4
              label Email
              input#email.form-control(name='email', value= email, type='text', required)
            .form-group.col-sm-4
              label Phone
              input#phone.form-control(name='phone', value= phone, type='text', required)
          .form-group
            label Project Name
            input#name.form-control(name='name', type='text', required)
          .form-group
            label Describe the nature of the project
            textarea#desc.form-control(name='desc', required)
          .form-group
            label Describe how this project affects other utilities and city infrastructure
            textarea#impacts.form-control(name='impacts', required)
          #dates.row
            .form-group.col-sm-6
              label Start Date
              input#start.form-control(name='start', type='text', placeholder='mm/dd/yyyy', required)
            .form-group.col-sm-6
              label End Date
              input#end.form-control(name='end', type='text', placeholder='mm/dd/yyyy', required)
          .row
            .form-group.col-sm-4
              label Underground or Aerial
              select#type.form-control(name='type', type='text', required)
                option
                option Underground
                option Aerial
                option Both
            .form-group.col-sm-4
              label Street cut required?
              select#streetcut.form-control(name='streetcut', type='text', required)
                option 
                option Yes
                option No
            .form-group.col-sm-4
              label Days in ROW?
              input#Days.form-control(name='daysinrow', type='number', required)
          h3 Project Street
          h5 Please select the street you will be working on, as well as the intersections you will be working between (if applicable).
          .row
            .form-group.col-sm-4
              label Street
              input#street.form-control.typeahead(name='street', type='text', class='streetcheck', required)
            .form-group.col-sm-4 
              label 1st Intersection               
              input#crossstreet1.form-control.typeahead(name='crossstreet1', type='text', class='streetcheck')
            .form-group.col-sm-4
              label 2nd Intersection (If the end of a road type "End") 
              input#crossstreet2.form-control.typeahead(name='crossstreet2', type='text', class='streetcheck')
          h3 Project Location
          h5 Please use the line tool at the top of the map to draw your project. Double-click or click the last point to complete the line. The search box can be used to locate a specific address. Please be as accurate as possible.
          .col-sm-12
            #map-canvas
            form
              input#pac-input(placeholder='Search for an address...')
            button#clear-map.btn.btn-danger(type='button') Clear Lines
          .form-group
            label Location
            input#coordinates.form-control(name='coordinates', type='text', readonly, required)
          .form-group
            button#submit.btn.btn-lg.btn-success.btn-fill(type='submit') Submit Project
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&sensor=true&libraries=places,drawing&language=en')
    script(src='js/jquery.validate.min.js')
    script(src='js/bootstrap-datepicker.min.js')
    script(src='js/typeahead.jquery.min.js')
    script(src='js/map.js')
    script(src='js/form.js')