doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='')
    title Utility Master Plan Submittal - Lexington, KY
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/custom.css')
    //if lt IE 9
      script(src='js/html5shiv.min.js')
      script(src='js/respond.min.js')
  body
    .container
      .col-sm-12
        h4 navigation
      .col-sm-12.text-center
        h1 Utility Master Plan Submittal
        h4 Select your utility:
        .form-group
          a.btn.btn-success(href='/ku') Kentucky Utilities
        .form-group
          a.btn.btn-success(href='/kawc') Kentucky American Water Company
        .form-group
          a.btn.btn-success(href='/cgas') Columbia Gas
        .form-group
          a.btn.btn-success(href='/crowncastle') Crown Castle 

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&sensor=true&libraries=places,drawing&language=en')
    script(src='js/jquery.validate.min.js')
    script(src='js/map.js')
    script(src='js/form.js')

