doctype html
html(lang='en')
  include head
  body
    include nav
    .container
      .col-sm-12
        h4 Hi #{user_f}
        p Welcome to the LFUCG master plan submittal system. Please select your utility below and make one submission for each project on your master plan. If you have any issues with the system, please contact Jonathan Hollinger at 859-258-3150 or #[a(href="mailto:jhollinger@lexingtonky.gov") jhollinger@lexingtonky.gov].
      .col-sm-12
        .row
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/att') AT&T
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/cgas') Columbia Gas
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/crowncastle') Crown Castle
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/delta') Delta Gas
        .row
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/datalink') DataLink
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/kawc') Kentucky American Water
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/ky-backhaul') KY Backhaul  
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/ku') Kentucky Utilities
        .row
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/kywired') Kentucky Wired Network
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/level3') Level 3 Communications
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/lightower') Lightower  
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/lfucg-ss') LFUCG - Sanitary Sewers
        .row
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/twc') Time Warner
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/windstream') Windstream
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/other') Other
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&sensor=true&libraries=places,drawing&language=en')
    script(src='js/jquery.validate.min.js')