doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='')
    title Utility Master Plan Submittal - Lexington, KY
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/custom.css')
    //if lt IE 9
      script(src='js/html5shiv.min.js')
      script(src='js/respond.min.js')
  body
    nav.navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Utility Master Plans
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/logout') Log Out
    .container
      .col-sm-12
        h4 Hi #{user_f}
        p Welcome to the LFUCG master plan submittal system. Please select your utility below and make one submission for each project on your master plan. If you have any issues with the system, please contact Jonathan Hollinger at 859-258-3430 or #[a(href="mailto:jhollinger@lexingtonky.gov") jhollinger@lexingtonky.gov].
      .col-sm-12
        .row
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/cgas') Columbia Gas
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/crowncastle') Crown Castle
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/delta') Delta Gas
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/datalink') DataLink
        .row
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/kawc') Kentucky American Water
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/ku') Kentucky Utilities
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/kywired') Kentucky Wired Network
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/level3') Level 3 Communications
        .row
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/lfucg-ss') LFUCG - Sanitary Sewers
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/twc') Time Warner
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/windstream') Windstream
          .form-group.col-sm-3
            a.btn.btn-success.btn-fill(href='/other') Other
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&sensor=true&libraries=places,drawing&language=en')
    script(src='js/jquery.validate.min.js')
    script(src='js/map.js')
    script(src='js/form.js')

