doctype html
html(lang='en')
  include head
  body
    include nav
    .container
      .row
        .col-sm-3.legend
          h3.title Utility Master Plans
          p.subtitle City of Lexington, Kentucky
          .form-group
            input#pac-input.form-control(type='text', placeholder='Search for an address')
          div
            p
              i.fa.fa-square(style='color: #e74c3c')
              |  Street Cut
            p
              i.fa.fa-square(style='color: #2980b9')
              |  No Street Cut 
        .col-sm-9
          #map-canvas
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXqhUx3ZQwPBtAVsXg6tz9N_2yvrRydcQ&libraries=places')
    script(src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js')
    script(src='js/submission-map.js')    