html, body {
height: 100%;
font-family: Montserrat; Helvetica, san-serif;
}

.container-fluid{
height: 100%;  
padding: 0px;	
}

#pac-input {
      text-overflow: ellipsis;
}

#legend {
    color: #FFF;
    background-color: #005dab; 
    width: 100%;
    height: 120px;
}

#map-canvas { 
    height: 500px;
    width: 100%;
}

.title {
  font-size: 1.4em;
  color: #FFF;
  margin: 15px 0px 0px 0px
}

.subtitle{
  margin:0px 0px 10px 0px;
}

.content {
padding: 15px;
margin-bottom: 15px;
border-radius: 5px;
background-color: #FFF;
color: #2C3E50;
}


.last {
margin-bottom: 0px;
}