html, body {
height: 100%;
font-family: Montserrat; Helvetica, san-serif;
}

.container-fluid{
height: 100%;  
padding: 0px;	
}

#pac-input {
    text-overflow: ellipsis;
    width: 300px;
    height: 2em;
    padding: .5%;
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 99;
}

#clear-map {
    text-overflow: ellipsis;
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 99;
}

#legend {
    color: #FFF;
    background-color: #005dab; 
    width: 100%;
    height: 120px;
}

#map-canvas { 
    height: 500px;
    width: 100%;
}

.title {
  font-size: 1.4em;
  color: #FFF;
  margin: 15px 0px 0px 0px
}

.subtitle{
  margin:0px 0px 10px 0px;
}

.content {
padding: 15px;
margin-bottom: 15px;
border-radius: 5px;
background-color: #FFF;
color: #2C3E50;
}


.last {
margin-bottom: 0px;
}

.btn-fill{
  width: 100%
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}